<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">Contoso University</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/About">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Students/Index">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Courses/Index">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Instructors/Index">Instructors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Departments/Index">Departments</a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
